html{
  background: #018DED url(https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bc51c4d47c9a0969be566af7d9776510&auto=format&fit=crop&w=334&q=80);  /*url('https://unsplash.com/photos/9kKXszmZ0Pc');*/
  background-size: cover;
  font-family: sans-serif;
  text-align: center;
  font-size: 10px;
}
body{
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

#first{
	color:rgb(240, 178, 122);
}


#enter {
    background-color: rgba(255, 0, 0, 0.2);
    border: 2px solid orange;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 1px 2px;
    cursor: pointer;
}
#enter:hover{
	transform: scale(0.5);
}
#ul{
text-align: center;
background-size: 2px 100%, 100% 25px;
color: yellow;
}


#container{
 width: 40rem;
  height: 40rem;
  border: 20px solid white;

  margin: 50% auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0,0,0,0.1),inset 0 0 0 3px #EFEFEF,
              inset 0 0 10px black,
              0 0 10px rgba(0,0,0,0.2);

}
#userinput{
  width: 30%;
  height: 10%;
  color:  rgb(186, 74, 0);
}
.done {
  text-decoration: line-through;
  
}